<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            max-width: 100%; /* Set maximum width to 100% of the screen */
            height: auto; /* Allow the height to adjust proportionally */
            display: block; /* Ensure the image is displayed as a block element */
            margin: 0 auto; /* Center the image horizontally */
        }

        h1{
            text-align:center;
            justify-content: center;
        
        }
    </style>
</head>
<body>
    {% block content %}

    {% endblock content %}
</body>
</html>